.dialogs {
    /* задаєм параметр батьківському елементі grid */
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 10px;
}

.dialogItems .active {
    color: blue;
}

/* .dialog {

} */

.massages {
    padding: 10px;
}

/* .message {

} */